button {
    background-color: #ffc300;
    color: #000814;
    border: none;
    padding: 12px 16px;
    margin: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.2s ease;
    border: 2px solid #000814;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button:hover {
    background-color: #ffd60a;
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.active {
    background-color: #003566;
    color: #fff;
}

.active:hover {
    background-color: #004080;
}

.delete-btn {
    background-color: #ff0017;
}

.delete-btn:hover {
    background-color: #ff4000;
}

.heading {
    background: linear-gradient(#001d3d, #003566);
    color: #fff;
    border-top: 1px solid #003566;
    border-left: 1px solid #003566;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading p {
    padding: 1rem;
}

.content {
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
